---
layout: page
# The Archives of posts.
---

<div id="archives" class="pl-xl-3">

{% assign today = site.schedule | where_exp: "event", "event.date == 'now'" | sort: 'date' %}
{% assign soon = site.schedule | where_exp: "event", "event.date > 'now'" | sort: 'date' %}
{% assign past = site.schedule | where_exp: "event", "event.date < 'now'" | sort: 'date' | reverse %}

{% if today.size > 0 %}
  <h2>Сегодня</h2>
  {% for event in today %}
    <div>
      <h2>{{ event.title }}</h2>
      <p>{{ event.date | date: "%d.%m.%Y" }}</p>
      <p>{{ event.description }}</p>
    </div>
  {% endfor %}
{% endif %}

{% if soon.size > 0 %}
  <h2>Скоро</h2>
  {% for event in soon %}
    <div>
      <h2>{{ event.title }}</h2>
      <p>{{ event.date | date: "%d.%m.%Y" }}</p>
      <p>{{ event.description }}</p>
    </div>
  {% endfor %}
{% endif %}

{% if past.size > 0 %}
  <h2>Завершенные</h2>
  {% for event in past %}
    <div>
      <h2>{{ event.title }}</h2>
      <p>{{ event.date | date: "%d.%m.%Y" }}</p>
      <p>{{ event.description }}</p>
    </div>

  {% endfor %}
{% endif %}

</div>
